.main_div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    
}

.right_div {
    background-color: #252525;
    position: relative;
    border: medium none;
    margin: 10px !important;
    padding: 20px !important;
    width: 60% !important;
    height: 420px;
    border-radius: 3px;
    transition: 0.3s;
}

.shipping {
    color: white;
    margin-left:35px;
}

.form1 {
    color: white;
    text-align: left;

}

.info label {
    margin: 5px;
}

.boxes {
    width: 50%;
    background-color: #494949;
    border : None;
    border-radius:5px;
}

.boxes2 {
    width: 25%;
    margin: 20px;
    background-color: #494949;
    border: None;
    border-radius: 5px;
}

.info {
    margin: 30px;
}

.continue {
    float: right;
    color: lime;
}

.left_div {
    background-color: #252525;
    position: relative;
    border: medium none;
    margin: 10px !important;
    padding: 50px !important;
    width: 40% !important;
    height: 420px;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}


.imgall {
    width: 120px;
    height: 110px;
    margin: 5px;
    padding: 2px;
}

.total {
    margin-top: 60px;
    color: white;
    font-size: 1.9rem;
    
}

.abt {
    margin-top:50px;
    position: relative;
}

