.main_div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    
}

.right_div {
    background-color: #252525;
    position: relative;
    border: medium none;
    margin: 10px !important;
    padding: 20px !important;
    width: 100% !important;
    height: 420px;
    border-radius: 3px;
    transition: 0.3s;
}

.shipping {
    color: white;
    margin-left:35px;
}

.cart {
    color: white;
    margin-left: 25px;
}

.form1 {
    color: white;
    text-align: left;

}

.info label {
    margin: 5px;
}

.boxes {
    width: 50%;
    background-color: #494949;
    border : None;
    border-radius:5px;
}

.boxes2 {
    width: 25%;
    margin: 20px;
    background-color: #494949;
    border: None;
    border-radius: 5px;
}

.info {
    margin: 30px;
}

.continue {
    float: right;
    color: lime;
}

.left_div {
    background-color: #252525;
    position: relative;
    border: medium none;
    margin: 10px !important;
    padding: 20px !important;
    width: 100% !important;
    height: 420px;
    border-radius: 3px;
    transition: 0.3s;
    text-align: left;
}


.imgall {
    width: 120px;
    height: 110px;
    margin: 5px;
    padding: 2px;
}

.total {
    margin-top: 60px;
    color: white;
    font-size: 1.9rem;
    
}

.abt {
    margin-top:50px;
    position: relative;
}

* {
    box-sizing: border-box;
}

.item {
    width: 90%;
    height: 30%;
    margin: 10px;
    padding: 20px !important;
    background-color: #494949;
    font-family: 'Roboto', sans-serif;
}



.item {
    padding: 20px;
    height: 25%;
    background-color: #494949;
    display: flex;
    position: relative;
    left:30px;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.del-btn {
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
    background-color:red;
   
}

.image img {
    
    height:50px;
    width:50px;
}

.description {
    padding-top: 20px;
    
    margin-left:20px;
    width: 115px;
}

.description span {
        display: block;
        font-size: 14px;
        color: white;
        font-weight: 400;

}

.quantity {
    margin-left:50px;
    padding-top: 15px;
    margin-right: 60px;
}
.quantity input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
}

.plus-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    
    height: 16px;
    width: 16px;
}

.plus-btn img {
  
    height:16px;
    width:16px;
}

button:focus,
input:focus {
    outline: 0;
}

.quantity .button{
    height:2px;
    width:2px;
}

.del button {
    margin-top:10px;
    margin-right:20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color:#494949

}

.pm{
    width:25px;
    height:25px;
}

.total-price {
    width: 83px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
    position:relative;
    float:left;
    font-weight: 300;
}